<a href="https://colab.research.google.com/github/dimi-fn/Various-Data-Science-Scripts/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *args and **kwargs
*args and **kwargs can be useful when we want to pass a variable (non pre-defined) number of arguments to a function using special symbols, making the function more flexible.
- Thus, we can use *args and **kwargs as an argument <ins>when the number of arguments to be passed in the function is not pre-fixed</ins>.
    * args: <ins>Non Keyword Arguments</ins> --> **Positional** arguments are declared by a _name_ only.
    * kwargs: <ins>Keyword Arguments</ins> --> they are declared by a _name_ and a default _value_ (like key-value pairs in dictionaries)

    * we first need to declare the positional arguments (args) and then the kewyord arguments (kwargs).

    * the 1 and 2 asterisks in args and kwargs accordingly are mandatory, but the variable names can change - although it is common to maintain them.

In [1]:
# for example, without using *args/ **kwargs, the following will give an error:
'''
def add_function(x,y,z):
    print("sum:",x+y+z)

add_function(3,10,5,4)
'''
# since it is restricted only to 3 positional arguments and we gave 4

'\ndef add_function(x,y,z):\n    print("sum:",x+y+z)\n\nadd_function(3,10,5,4)\n'

## *args

- arguments are passed as a **list**
* more specifically, *args passes variable number of non-keyworded arguments list, and on which operation of the list can be performed

In [2]:
def add_function(*args):

    sum = 0
    for num in args:
        sum = sum + num

    print("The sum is:", sum)

add_function(3,10)
add_function(30,10,5)
add_function(30,10,5,4)

The sum is: 13
The sum is: 45
The sum is: 49

In [3]:
# we can use any other name instead of *args:
def add_function(*numbers):

    sum = 0
    for num in numbers:
        sum = sum + num

    print("The sum is:", sum)

add_function(3,10)
add_function(30,10,5)
add_function(30,10,5,4)

The sum is: 13
The sum is: 45
The sum is: 49

In [4]:
def operation(*args):

    sum = 0
    multip= 1
    for num in args:

        # sum+=num
        sum = sum + num

        # multip*=num
        multip = multip * num

    print("Sum is: {}".format(sum))
    print("Multiplication is: {}\n".format(multip))


operation(3,2)
operation(3,2,5)
operation(3,2,5,4)

Sum is: 5
Multiplication is: 6

Sum is: 10
Multiplication is: 30

Sum is: 14
Multiplication is: 120

## **kwargs

**kwargs passes variable number of keyword arguments <ins>dictionary</ins> to function on which operation of a dictionary can be performed

* it does the same operation as *args but for keyword arguments.

In [5]:
def intro(**kwargs):
    print("\nData type of the argument is: {}".format(type(kwargs)))
    print("***************************************************************")

    for key, value in kwargs.items():
        print("{} is: {}".format(key, value))

intro(firstname="Peter", lastname="Dosh", age=22, phone=1234567890)
intro(firstname="John", lastname="Last", age=32, email="johnlast@mail.com", country="Norway", phone=9999888)

Data type of the argument is: <class 'dict'>
***************************************************************
firstname is: Peter
lastname is: Dosh
age is: 22
phone is: 1234567890

Data type of the argument is: <class 'dict'>
***************************************************************
firstname is: John
lastname is: Last
age is: 32
email is: johnlast@mail.com
country is: Norway
phone is: 9999888

## Additional examples

In [6]:
#a and b are positional arguments
def addition(a, b): 
   return a + b

# thus, 2 required positional arguments
print(addition(10,2))

12

In [7]:
def addition(a, b=2): #a is positional, b is keyword argument
   return a + b

# "b" has been defined
# only "a" needs to be defined   
print(addition(10))

12

In [8]:
def some_args(arg_1, arg_2, arg_3):
    print("argument_1:", arg_1)
    print("argument_2:", arg_2)
    print("argument_3:", arg_3)

args = ("aa", "ab", "ac")
some_args(*args)

argument_1: aa
argument_2: ab
argument_3: ac

# Lambda - Map Functions
## Lambda Expressions

Lambda expressions create functions without a name, and they are quite useful when functions are needed to be used once and they can be written in a single line.

### Lambda expressions with one parameter
Returning the cube of a number

In [9]:
cube= lambda num: num**3
print(cube(4))

64

### Lambda expressions with multiple parameters

In [10]:
greater_number = lambda num1, num2: num1 if num1>num2 else num2
greater_number(5,3)

5

### Filter Functions

Filter functions can filter out an iterable object based on specified conditions.

In [11]:
#numbers_list = [1,2,3,4,5,6]
list_even_numbers = list(filter(lambda x:x%2==0, [1,2,3,4,5,6]))
print(list_even_numbers)

[2, 4, 6]

In [12]:
numbers_list = range(-10, 10)
positive_numbers = list(filter(lambda x: x < 0, numbers_list))
print(positive_numbers)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

## Map Function

Map functions help us apply a function to each element in an iterable object, such as lists, strings, etc.

> Instead of this:

In [13]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
    
print(squared)

[1, 4, 9, 16, 25]

> We can have this:

In [14]:
numbers_list = [1,2,3,4,5]
return_squared_list = list(map(lambda x:x**2, numbers_list))
print(return_squared_list)

[1, 4, 9, 16, 25]

### Calling functions - map

In [15]:
def powerof(num):
    return num**2

number = [1,2,3,4,5,6,7,8]

s = list(map(powerof,number))
print(s)

[1, 4, 9, 16, 25, 36, 49, 64]

In [16]:
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)

functions = [multiply, add]
for i in range(5):
  value = list(map(lambda x: x(i), functions))
  print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

## Reduce

It can be useful for performing computations on lists and returning the result. It applies a rolling computation to sequential **pairs** of values in a list

Example: Calculate the product result from a list of a given numbers.

> Long way:

In [17]:
product = 1
list = [2, 3, 4, 5]
for num in list:
    product = product * num

print(product)

120

> Using Reduce:

In [18]:
from functools import reduce
list_numbers = [2, 3, 4, 5]
product = reduce((lambda x, y: x * y), list_numbers)

print(product)

120

## Combining Lambda - Map - Filter

Example: returning the square for those numbers that are even.

In [19]:
# numbers_list = [1,2,3,4,5]
# return_squared_even_list = list(map(lambda x:x**2, filter(lambda x:x%2==0, numbers_list)))